@import './_colors.styl'

.icon_fill_gray

  #icon-config__path-1
    fill $GRAY

  #icon-config__path-3
    fill $GRAY_LIGHTER

.icon_fill_gray-darker
  #icon-config__path-1
    fill $GRAY_DARKER

  #icon-config__path-3
    fill $GRAY

.icon_hover_fill-main:hover
  #icon-config__path-1
    fill $MAIN

  #icon-config__path-3
    fill $MAIN_LIGHTER
